body{
    background: #FBF3DA;
}
.App {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}
.App img{
  max-width: 100%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  float: left;
}

.App-header {
  padding: 20px;
  color: white;
  top:0;
  width:100%;
  background-image: url("/img/header-bg.jpg");
  background-size: cover;
  background-position: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logo {
  max-width: 100%;
  width: 190px;
  height: 100px;
  float: left;
  margin-top: 10px;
}
nav {
  margin: 25px auto;
  justify-content: space-around;
  margin-bottom: 15px;
  float: right;
  text-align: right;

}
.App-header .container {
  margin: 0 auto;
  display: flex;

}
p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16x;
  line-height: 35px;
}
h2 {
  font-family: 'Bitter', serif;
}