section {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16x;
    padding: 20px 24%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
section h1{
    color: #382515;
    font-size: 24px;
}
section h1 span{
    color: #01AFA3;
}
section hr {
    background-image: url("/img/dotted-line.png");
    background-repeat: repeat-x;
    height: 3px;
    border: none;
}
section button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 32px;
    margin-right: 25px;
    background: black;
    color: white;
    border: none;
    transition: all .3s ease;
}
section button span{
    color: #01AFA3;
}
section button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.bg-white{
    background: #FBF3DA;
}
.bg-transparant{
    background-image: url("/img/call-to-actions.jpg");
    background-size: cover;
}
.bg-transparant h1{
    color: white;
}
.call-to-action{
    padding: 40px 0;
}