.Nav-item a.active {
    color: #01AFA3;
    background: #2C2417;
}
.Nav-item a {
    font-size: 19px;
    list-style: none;
    padding: 10px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #382515;
    text-transform: uppercase;
    font-weight: 500;
}
.Nav-item {
    display: inline-block;
    margin: 10px 16px;
}